# Ignore editor / OS dotfiles but not .gitignore itself
.DS_Store
.*.swp
.*.swo
*.bak
*.tmp

# Logs
*.log

# Kubeconfig copies
kubeconfig*
!kubeconfig.example

# Environment files
.env
.env.*
!.env.example

# Linter/Checker
.checkmake
.pymarkdown
.yamllint
